
.leaflet-container {
    width: 100vw;
    height: 70vh;
}
.attraction-info {
    font-family: 'Baloo Bhaijaan';
    font-size: 22px;
    /* text-transform: uppercase; */
    justify-content: center;
}

.detail-header {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    /* margin-bottom: -9%; */
    margin-left: 10%;
    font-size: 30pt;
    margin-bottom: -8%;

}

.attraction-info #desc {
    font-family: "PT Sans";
    /* color: black; */
    text-align: left;
    letter-spacing: -0.5pt;
    padding-left: 7%;
    padding-right: 7%;
    line-height: normal;

}

.line {
    border-top: 1.5px solid black;
    border-radius: 5px;
    margin-left: 7%;
    margin-right: 7%;
    opacity: 50%;
}

iframe {
    margin-bottom: -8%;
}

.vl {
    /* display: inline-block; */
    border-left: 3px solid #B96AC9;
    display: flex;
    height: 70px;
    position: absolute;
    left: 11%;
    margin-left: -5%;
    top: 34%;
}

.attraction-type {
    font-family: 'Baloo Thambi 2';
    font-size: 22px;
    text-align: left;
    padding-left: 12%;
    opacity: 50%;
    letter-spacing: -0.5pt;
}

.light .attraction-info #opening-hours-header {
    letter-spacing: -0.5pt;
    font-size: 16pt;
    color: #B96AC9;
    margin-bottom: 0%;
}

.dark .attraction-info #opening-hours-header {
    letter-spacing: -0.5pt;
    font-size: 16pt;
    margin-bottom: 0%;
    
}

.attraction-info #opening-hours {
    letter-spacing: -0.5pt;
    font-size: 16pt;
    
}

/* forms for comments */

.light .review-form {
    display: flex;
   flex-wrap: wrap;
   width: 95%;
   margin-left: auto;
   margin-right: auto;
   justify-content: space-around;
   font-family: 'Baloo Thambi 2';

}

.dark .review-form {
    display: flex;
   flex-wrap: wrap;
   width: 95%;
   margin-left: auto;
   margin-right: auto;
   justify-content: space-around;
   font-family: 'Baloo Thambi 2';

}

.light #entry-heading{
    margin-bottom: -6%;
    color: #B96AC9;
}

.dark #entry-heading{
    margin-bottom: -6%;
}

.light #prices{
    margin-bottom: -6%;

}

.light #concession-price{
    margin-bottom: -6%;
}

.dark #prices{
    margin-bottom: -6%;
}

.dark #concession-price{
    margin-bottom: -6%;
}

.light input[type='float']{
    width: 85%;
    background-color: white;
    opacity: 100%;
    font-family: 'Baloo Thambi 2';
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.dark input[type='float']{
    width: 85%;
    background-color: white;
    opacity: 85%;
    font-family: 'Baloo Thambi 2';
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.light input[type='text']{
    width: 85%;
    background-color: white;
    opacity: 100%;
    font-family: 'Baloo Thambi 2';
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.leaflet-container{
    height: 400px;
}

.bus-container{
    display: inline-flex;
}

#bus-routes{
    display: inline-flex;
}

.light #bus-routes-header{
    display: inline-flex;
    color: #B96AC9;
}

.light #address-header{
    color: #B96AC9;
}

#address-deets{
    margin-left: 6%;
    margin-right: 6%;
}

.light #comments-text{
    width: 85%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Baloo Thambi 2';
}

.dark #comments-text{
    width: 85%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Baloo Thambi 2';
    opacity: 85%;
}

#comment-name{
    float: inline-start;
    color: blue;
    align-items: flex-start;
}

#comments-list-wrapper{
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: chartreuse;
    width: 90%;
}



.comments-section{
    display: flex;
}











