.individual-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Baloo Bhaijaan';font-size: 22px;
    text-transform: uppercase;
    letter-spacing: -0.5pt;
    margin-left: auto;
    margin-right: 0%;
;



}

.button-group {
    list-style: none;
}

#selectButton {
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: -30px;
}


#name {
    margin-top: 20%;
    margin-bottom: 10%;
    /* font-size: 22pt; */
}

.light .attractions-block{
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    background-color:rgb(255, 255, 255);
    box-shadow: 10px 10px 30px 5px rgb(213, 213, 213);
    border-radius: 15px;
    width: 85%;
    padding: 10px;
    margin-bottom: 10%;
    border-style: none;
}

.dark .attractions-block{
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    background-color:transparent;
    border-radius: 15px;
    width: 85%;
    padding: 10px;
    margin-bottom: 10%;
}

#list-photo{
    margin-bottom: -15%;
}


