.individual-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Baloo Bhaijaan';font-size: 22px;
    text-transform: uppercase;
    letter-spacing: -0.5pt;
    margin-left: auto;
    margin-right: 0%;
    flex-basis: 280px;

}

.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.list-container::after {
    content: "";
    flex-basis: 280px;
}

.button-group {
    list-style: none;
}

#selectButton {
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    padding-bottom: 12px;
}


#name {



    /* font-size: 22pt; */

    width: 280px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
}

.light .attractions-block{
    /* display: block;
    align-items: center;
    justify-content: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 280px;
    margin: auto;
    border: 1px solid black;
    background-color:rgb(255, 255, 255);
    box-shadow: 10px 10px 30px 5px rgb(213, 213, 213);
    border-radius: 15px;
    width: 85%;
    padding: 10px;
    margin-bottom: 10%;
    border-style: none;
}

.dark .attractions-block{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 280px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    background-color:transparent;
    border-radius: 15px;
    width: 85%;
    padding: 10px;
    margin-bottom: 10%;
}

#list-photo{
    margin-bottom: -10%;
}

#button-group{
    margin-top: -25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}



