.individual-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-family: 'Baloo Bhaijaan';
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: -0.5pt;
    flex-basis: 280px;

}

.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.list-container::after {
    content: "";
    flex-basis: 280px;
}

.button-group {
    list-style: none;
}

#selectButton {
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: -30px;
}


#name {
    margin-top: -1px;
    width: 280px;
    text-align: center;
}