.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
}

.checkbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 40%;
    padding-left: 5%;
}